.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
/* shared style */
.flex{
    display: flex;
}
.dark02{
    color: #424242;
}
.dark03{
    color: #727272;
}
.bgcolor{
    background-color: rgba(255, 144, 14, 0.1);
}
.primary-btn{
    background-color: #FF900E;
    color: white;
    padding: 20px 24px;
    font-size: 1.2rem;
    font-weight: 600;
    border: none;
    border-radius: 8px;
    margin-bottom: 50px;
}
.section-gap{
    margin-top: 130px;
}

/* nav section */
.nav-bar{
    justify-content: space-between;
    align-items: center;
}
.nav-bar h1{
    font-size: 3rem;
    font-weight: 700;
}
.nav-links{
    list-style: none;
    gap: 2em;
}
.nav-bar a{
    text-decoration: none;
    font-size: 18px;
}
.nav-bar, .banner,.some-facts,.feature,.sponsor-section,.Enjoy-feature,.footer{
    max-width: 1440px;
    margin: 0 auto;
}

/* banner section */
.banner-content{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
}
.banner h1{
    font-size: 4rem;
}
.banner img{
    width: 100%;
}

/* feature section */
.feature{
    align-items: center;
}
.feature-img{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 24px;
}
.feature-content{
    max-width: 530px;
    margin-left: 100px ;
}
.feature-heading{
    font-size: 2.8rem;
}
#part1{
    font-weight: 500;
}
#part3{
    color: #FF900E;
}
.feature-para{
    font-size: 1rem;
    font-weight: 500;
}


/* enjoy feature */
.Enjoy-feature{
    margin-top: 130px;
    gap: 140px;
    align-items: center;
}
.enjoy-title{
    font-size: 2.8rem;
    border-left: 5px solid #FF900E; 
    padding: 20px;
}
.enjoy-card{
    border-radius: 8px;
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.25);
    padding: 30px;
    margin-bottom: 20px;
}
.card-heading{
    font-size: 1.2rem;
}
.experience-btn{
    margin-left: -100px;
    margin-top: -100px;
}
#first-part{
    font-size: 4rem;
    font-weight: 600;
}
#second-part{
    font-size: 1.5rem;
    font-weight: 400;
}


/* fact-section */
.some-facts{
    margin-top: 130px;  
}
.facts-heading{
    font-size: 2.5rem;
}
.facts-description{
    max-width: 550px;
    font-size: 1rem;
}
.fact-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.fact{
    width: 200px;
    height: 200px;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px solid #FF900E;
    border-radius: 8px;
}
.fact-num{
    font-size: 2.5rem;
    margin: 5px;
}
.fact-name{
    font-size: 1rem;
    font-weight: 400px;
    margin: 5px;
}

/* sponsor-section */
.sponsor-section{
    margin-top: 130px; 
}
.sponsor-content{ 
    max-width: 540px;
    margin: 40px auto;
    text-align: center;
}
.sponsor-title{
    font-size: 1.8rem;
}
.sponsor-image{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    filter: grayscale(100);
}

/* footer-section */
.footer{
    margin-top: 130px;
    margin-bottom: 200px;
    background-color: #FFF4E7;
    padding: 30px 0;
    font-size: 1.1rem;
    text-align: center;
}




/* responsive mobile */
@media screen and (max-width: 576px) {
    .nav-bar,.nav-links,.feature{
        flex-direction: column;
    } 
    .feature-img{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }  
    .feature-content{
        margin-left: 20px;
    }
    .Enjoy-feature{
        flex-direction: column;
    }
    .enjoy-image img{
        width: 100%;
    }
    .experience-btn{
        margin: 0px;
    }
    .fact-container{
        grid-template-columns: repeat(1,1fr);
        justify-items: center;
        gap: 24px;
    }
    .sponsor-image{
        grid-template-columns: repeat(1,1fr);
        justify-items: center;
        gap: 24px;
    }
}
/* responsive tablet */
 @media screen and (min-width: 576px) and (max-width: 992px) {
    .feature {
        flex-direction: column;
    }
    .feature-content {
        margin: 100px 0 auto;
    }

    .fact-container{
        grid-template-columns: repeat(2,1fr);
        justify-items: center;
        gap: 24px;
        width: 100%;
    }

    .Enjoy-feature {
        margin-top: 0;
        flex-direction: column;
        gap: 24px;
    }
    .enjoy-image img {
        width: 100%;
    }
    .experience-btn {
        margin: 0;
    }

    .some-facts {
        justify-items: center;
    }

    .sponsor-image{
        grid-template-columns: repeat(2,1fr);
        justify-items: center;
        gap: 24px;
    }
}